{%extends 'base.html' %}

{% block head %}

<title>Contact</title>
<style>
    img
    {
        object-fit: center;
        margin-left: 35%;
        height: 300; 
        width: 300;
    }
</style>
 {% endblock%}

 {% block body %}

 
<div class="contact">   

    <h1 style="text-align: center">Thank you for visiting </h1>
    <h4 style="text-align: center">Feel free to drop me your feedback </h4>
    <img src="/static/image/MyPic.jpg" alt="Asfetaw A Abera">
    <h2>Email : <a href="mailto:webmaster@example.com">Asfetaw A. Abera </a> </h2>
    <h2>Linkedin : <a  href="https://www.linkedin.com/in/asfetaw-abera-54b0a2185/ " target="_blank"> LinkedIn</h2>
     <h2>github :  <a href="https://github.com/Asfetaw/Diabetescapstone">Projects</a> </h2>   
</div>

<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock%}
    
{% block footer %}
{% endblock%}